/*infowindow in gmap*/
.mhs-tm-map-message {
    padding-right: 10px;
}
.mhs-tm-map-message img {
    max-width: 98.5% !important; 
    height: auto !important;    
}

/*search box in gmap edit*/
.mhs-tm-gmap-controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#mhs-tm-gmap-search-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#mhs-tm-gmap-search-input:focus {
    border-color: #4d90fe;
}