/* UI FIXES
----------------------------------------- */
input.mhs_tm_prim_button.button {
    float: left;
    margin-right: 6px;
    margin-bottom: 20px;
}

div.ui-dialog_mhs_tm {
    padding: 0px;
}

.ui-dialog_mhs_tm div.ui-dialog-titlebar {
    background-color: #5A5A5A;
    border-width: 0px 0px 0px;
    border-bottom-width: 3px;
    border-bottom-color: #000000;
    border-radius: 0px;
    color: #ffffff;
}
