#mhs_tm_loading {
    z-index: 99998;
    position: absolute;
    background-color: rgba(200, 200, 200, 0.0);
    width: 100%;
    height: 100%;
}

.sk-fading-circle-background {
    margin: 100px auto;
    padding: 10px;
    width: 60px;
    height: 60px;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
}

.sk-fading-circle {
  /*margin: 100px auto;*/
  width: 60px;
  height: 60px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.65s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.65s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.32s;
          animation-delay: -1.32s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -1.26s;
          animation-delay: -1.26s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -1.12s;
          animation-delay: -1.12s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -1.02s;
          animation-delay: -1.02s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.76s;
          animation-delay: -0.76s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.42s;
          animation-delay: -0.42s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.22s;
          animation-delay: -0.22s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

/* Styles for jQuery dialog mhs_tm_dialog_loading class*/
.ui-dialog.mhs_tm_dialog_loading {
    position: fixed;
    background-color: transparent;
}

.ui-widget.ui-widget-content.mhs_tm_dialog_loading {
    border-color: transparent;
}
